body{/**/
    color: blueviolet;
    text-align: center;
    font-weight:bold;
}


table{
    border: none;
    text-align:center;
    border-collapse: collapse;
    margin: auto;
    position: relative;
    width: 80%;
       
}
th{
    font-weight:bold;
    text-align: center;
    background-color: bisque;
    
}
th,td{
    outline-color: black;
    border:1px solid black
}